.layout-1{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
  
}
.layout-2{
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  min-width: 70%;
  padding-left: 0.7rem;
  
}
.grow-1{
  flex-grow: 1;
}
.grow-2{
  flex-grow: 2;
}
.grow-3{
  flex-grow: 3;
}
.grow-4{
  flex-grow: 4;
}

.layout-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
.layout-nocontent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-content{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.layout-border{
  border: 1px solid #d1d1d1;
}

.notvisible{
  display: none;
}
.visible{
  display: flex;
}

.pointer{
  cursor: pointer;
}